@model BestTourPlan.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("StylesPartial")
</head>
<body>
    <section class="login">
        <div class="login__background">
            <div class="login__container">
            <form asp-action="Login">
                <h4 class="login__title">Sign In</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login__input-group">
                    <input type="text"
                           asp-for="UserName"
                           class="input login__input"
                           placeholder="User Name*" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="login__input-group">
                    <input type="password"
                           asp-for="Password"
                           class="input login__input"
                           placeholder="Password*" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign In" class="button login__button" />
                </div>
                <span class="login__info">*&nbsp;Required fields</span>
            </form>
        </div>
        </div>
    </section>
</body>
</html>
