<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("StylesPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")

    @await Html.PartialAsync("BreadcrumbPartial")

    @RenderBody()

    @await Html.PartialAsync("FooterPartial")
</body>
</html>