@using BestTourPlan.Services
<footer class="footer">
    <div class="container footer__container">
        <div class="footer-wrapper">
            <a href="#"
               class="logo footer__logo">
                <img src="~/img/vertical-logo.svg"
                     alt="Image: Best Tour Plan">
            </a>
            <div class="footer__list footer__categories">
                <h3 class="footer__title">ALL CATEGORIES</h3>
                <ul class="footer__ul">
                    <li class="footer__item">
                        <a href="#" class="footer__link">All Deals</a>
                    </li>
                    <li class="footer__item">
                        <a 
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Index" 
                           class="footer__link">Hotels</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Activities</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Spa Packages</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hotel Day Packages</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Restaurants</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Fitness</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Rodrigues</a>
                    </li>
                </ul>
            </div>
            <div class="footer__list footer__additional">
                <h3 class="footer__title">ADDITIONAL INFORMATION</h3>
                <ul class="footer__ul">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">How does it work?</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Frequently Asked Questions</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Deals.mu loyalty program</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Promote your Business on BTP</a>
                    </li>
                </ul>
            </div>
            <div class="footer__social-network">
                <h3 class="footer__title footer__title--inline">Social Network</h3>
                <div class="footer__social-links">
                    <a href="https://www.facebook.com/" class="footer__link">
                        <img src="~/img/fb.svg" alt="Icon: facebook">
                    </a>
                    <a href="https://www.youtube.com/" class="footer__link">
                        <img src="~/img/yt.svg" alt="Icon: youtube">
                    </a>
                    <a href="https://www.instagram.com/" class="footer__link">
                        <img src="~/img/inst.svg" alt="Icon: instagram">
                    </a>
                </div>
            </div>
            <div class="footer__list footer__legal">
                <h3 class="footer__title">LEGAL INFORMATION</h3>
                <ul class="footer__ul">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Disclaimer</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Cancellation policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="footer__contact-details">
                <h3 class="footer__title footer__title--mb-3">Contact Details</h3>
                <p class="footer__text">Feel free to contact us by phone, email or by our contact form</p>
                <ul class="footer__ul footer__ul--details">
                    <li class="footer__item footer__item--mb-2">
                        <div class="footer__icon-wrapper">
                            <img src="~/img/contacts/address.svg"
                                 alt="Image: address"
                                 class="footer__icon">
                        </div>
                        <span>9748 Blossom Hill Rd undefined Lansing, Idaho 68545 United States</span>
                    </li>
                    <li class="footer__item footer__item--mb-2">
                        <div class="footer__icon-wrapper">
                            <img src="~/img/contacts/phone.svg"
                                 alt="Image: phone"
                                 class="footer__icon">
                        </div>
                        <div class="footer__phones">
                            <p class="footer__phone">
                                Tel (business hours) :
                                <a href="tel:269-15-00" class="footer__link"> <nobr>269-15-00</nobr></a>
                            </p>
                            <p class="footer__phone">
                                Tel (hotline) Monday - Saturday:
                                <a href="tel:52-56-61-38" class="footer__link"><nobr>52-56-61-38</nobr></a>
                                (08:00 am – 20:00 pm)
                            </p>
                            <p class="footer__phone">
                                Tel (hotline) Sunday:
                                <a href="tel:52-56-61-38" class="footer__link">
                                    <nobr>52-56-61-38</nobr>
                                </a>
                                (08:00 am – 14:00 pm)
                            </p>
                        </div>
                    </li>
                    <li class="footer__item footer__item--mb-2">
                        <div class="footer__icon-wrapper">
                            <img src="~/img/contacts/mail.svg"
                                 alt="Image: mail"
                                 class="footer__icon">
                        </div>
                        <a href="mailto:@Configuration.ContactEmail"
                           class="footer__link">@Configuration.ContactEmail</a>
                    </li>
                </ul>
            </div>
            <div class="footer__contact-form">
                <h3 class="footer__title footer__title--form">Send us a message</h3>
                <form action="send.php"
                      class="footer__form form"
                      method="POST">
                    <div class="footer__input-group">
                        <input type="text"
                               class="input footer__input"
                               placeholder="Your Full Name"
                               name="name"
                               required
                               minlength="2">
                    </div>
                    <div class="footer__input-group">
                        <input type="tel"
                               class="input footer__input"
                               placeholder="Phone Number"
                               name="phone"
                               required
                               data-mask="+7(000)-000-00-00">
                    </div>
                    <textarea class="message footer__message"
                              placeholder="Message"
                              name="message"></textarea>
                    <span class="footer__info--top">*&nbsp;Required fields</span>
                    <button type="submit" class="button footer__button">Send</button>
                    <span class="footer__info--span">*&nbsp;Required fields</span>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer__conditions">
                <span>Disclaimer&nbsp;&nbsp;</span>
                <span>Conditions of use&nbsp;</span>
                <span>Cancellation&nbsp;policy</span>
            </div>
            <div class="footer__payment">
                <img src="~/img/payment.svg"
                     alt="Icon: payment cards"
                     class="footer__cards">
            </div>
        </div>
    </div>
</footer>