<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
<link rel="preload" as="font"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Nunito+Sans:wght@400;700;800&display=swap">
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>Best Tour Plan - Hotel Booking</title>
}