<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @await Html.PartialAsync("StylesPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")

    @await Html.PartialAsync("BreadcrumbPartial")

    <section class="hotel">
        <div class="container">

            @*@RenderBody()*@

            <div class="hotel-info">
                <div class="hotel-info__text">
                    <div class="hotel-wrapper">
                        <div class="stars">
                            <img class="star" src="~/img/star.svg" alt="star">
                            <img class="star" src="~/img/star.svg" alt="star">
                            <img class="star" src="~/img/star.svg" alt="star">
                            <img class="star" src="~/img/star.svg" alt="star">
                            <img class="star" src="~/img/star.svg" alt="star">
                        </div>
                        <h1 class="hotel-name hotel-info__name">GRAND HILTON HOTEL</h1>
                        <span class="offer hotel-info__offer">Flash Offer</span>
                    </div>
                    <p class="hotel-description hotel-info__description">
                        Half-Board/ All Inclusive + Complimentary Activities + Child Stays Free
                    </p>
                </div>
                <div class="rating hotel-info__rating"
                     data-toggle="modal"
                     data-href="#rating-modal">
                    <span class="rating__text">User Ratings</span>
                    <span class="rating__counter">4.5/</span>
                    <!--
                    -->
                    <span class="rating__max">5</span>
                </div>
            </div>
            <div class="hotel-grid">
                <div class="swiper-container hotel-slider hotel__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide hotel-slider__item">
                            <img src="~/img/slide-1.jpg" alt="Slide 1" class="hotel-slider__image">
                        </div>
                        <div class="swiper-slide hotel-slider__item">
                            <img src="~/img/slide-2.jpg" alt="Slide 2" class="hotel-slider__image">
                        </div>
                        <div class="swiper-slide hotel-slider__item">
                            <img src="~/img/slide-3.jpg" alt="Slide 3" class="hotel-slider__image">
                        </div>
                        <div class="swiper-slide hotel-slider__item">
                            <img src="~/img/slide-4.jpg" alt="Slide 4" class="hotel-slider__image">
                        </div>
                    </div>

                    <button class="hotel-slider__button hotel-slider__button--prev"></button>
                    <button class="hotel-slider__button hotel-slider__button--next"></button>
                </div>
                <div class="hotel-right">
                    <div class="booking">
                        <div class="booking__info">
                            <div class="booking__price">
                                <span class="booking__start">price starts as</span>
                                <strong class="booking__pricetag">$ 8,500</strong>
                                <span class="booking__per-room">per room / night</span>
                            </div>
                            <div class="booking__room">
                                <div class="booking__text">
                                    <img src="~/img/user.svg"
                                         alt="Icon: user"
                                         class="booking__icon">
                                    <span class="booking__descripion">2 x Guests</span>
                                </div>
                                <div class="booking__text">
                                    <img src="~/img/room.svg"
                                         alt="Icon: room"
                                         class="booking__icon">
                                    <span class="booking__descripion">1 x Room</span>
                                </div>
                            </div>
                        </div>
                        <div class="booking__call-center">
                            <span class="booking__heading">Quick Booking</span>
                            <a href="tel:12100" class="booking__phone">
                                <img src="~/img/phone-call.svg" alt="Icon: phone">
                                <span class="booking__number">12100</span>
                            </a>
                        </div>
                        <button data-toggle="modal"
                                data-href="#booking-modal"
                                class="button booking__button">
                            View Other Options
                        </button>
                    </div>
                    <div id="map">
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Html.PartialAsync("NewsletterPartial")

    @await Html.PartialAsync("ActivitiesPartial")

    @await Html.PartialAsync("FooterPartial")

    <div class="modal" id="booking-modal">
        <div class="modal__overlay">
        </div>
        <div class="modal__dialog">
            <a href="#" class="modal__close">
                <img src="~/img/close.svg" alt="Icon: close">
            </a>
            <h3 class="modal__title modal__title--form">Booking</h3>
            <form action="send.php"
                  class="modal__form form"
                  method="POST">
                <div class="modal__input-group">
                    <input type="text"
                           class="input modal__input"
                           placeholder="Your Full Name*"
                           name="name"
                           required
                           minlength="2">
                </div>
                <div class="modal__input-group">
                    <input type="tel"
                           class="input modal__input"
                           placeholder="Phone Number*"
                           name="phone"
                           required
                           data-mask="+7(000)-000-00-00">
                </div>
                <div class="modal__input-group">
                    <input type="email"
                           class="input modal__input"
                           placeholder="Email*"
                           name="email"
                           required>
                </div>
                <textarea class="message modal__message"
                          placeholder="Message"
                          name="message"></textarea>
                <button type="submit"
                        class="button modal__button">
                    Send
                </button>
                <span class="modal__info--top">*&nbsp;Required fields</span>
                <span class="modal__info--span">*&nbsp;Required fields</span>
            </form>
        </div>
    </div>
</body>
</html>