<section class="activities">
    <div class="container">
        <h2 class="activities__title"
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-easing="ease-in-sine">
            Other Activities
        </h2>
        <div class="activities-wrapper">
            <div class="card activities__card" data-aos="fade-up" data-aos-delay="100">
                <img src="~/img/activities/1.jpg"
                     alt="Image: The curious corner of chamarel"
                     class="card__image">
                <h3 class="card__title">The curious corner of&nbsp;chamarel</h3>
                <button class="card__button"
                        data-toggle="modal"
                        data-href="#booking-modal">
                    Book Now
                </button>
            </div>
            <div class="card activities__card" data-aos="fade-up" data-aos-delay="200">
                <img src="~/img/activities/2.jpg"
                     alt="Image: Gymkhana club golf course"
                     class="card__image">
                <h3 class="card__title">Gymkhana club golf course</h3>
                <button class="card__button"
                        data-toggle="modal"
                        data-href="#booking-modal">
                    Book Now
                </button>
            </div>
            <div class="card activities__card" data-aos="fade-up" data-aos-delay="300">
                <img src="~/img/activities/3.jpg"
                     alt="Image: Tamarind falls hiking trip - full Day"
                     class="card__image">
                <h3 class="card__title">Tamarind falls hiking<br />trip - full day</h3>
                <button class="card__button"
                        data-toggle="modal"
                        data-href="#booking-modal">
                    Book Now
                </button>
            </div>
            <div class="card activities__card" data-aos="fade-up" data-aos-delay="400">
                <img src="~/img/activities/4.jpg"
                     alt="Image: The blue marine discovery quest"
                     class="card__image">
                <h3 class="card__title">The blue marine discovery quest</h3>
                <button class="card__button"
                        data-toggle="modal"
                        data-href="#booking-modal">
                    Book Now
                </button>
            </div>
        </div>
    </div>
</section>
