<nav class="breadcrumb">
    <div class="container">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-list__item">
                <a href="#" class="breadcrumb-list__link">Home</a>
            </li>
            <li class="breadcrumb-list__item">
                <a href="#" class="breadcrumb-list__link">Flash Offers</a>
            </li>
            <li class="breadcrumb-list__item">
                Grand Hilton Hotel
            </li>
        </ul>
    </div>
</nav>