<section class="newsletter">
    <div class="newsletter-wrapper">
        <h2 class="newsletter-title__small"
            data-aos="fade-up"
            data-aos-duration="250"
            data-aos-easing="ease">
            subscribe to our
            <span class="newsletter-title__strong">Newsletter</span>
        </h2>
        <form action="send.php"
              method="POST"
              class="subscribe newsletter__subscribe form"
              data-aos="fade-up"
              data-aos-duration="300"
              data-aos-easing="ease">
            <input type="email"
                   class="input subscribe__input"
                   placeholder="Your email address"
                   name="email"
                   required />
            <button class="subscribe__button">Send</button>
        </form>
    </div>
</section>