.login
    &__container
        background-color: $dark-theme
        padding-top: 40px
        padding-bottom: 40px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
    &__input
        min-width: 92%
        max-width: 100%
        margin-top: 15px
        &-group
            position: relative
    &__button
        min-width: 100%
        max-width: 100%
        margin: 15px 0 15px 0
    &__info
        color: $footer-text-color
        &--span
            display: inline
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px